<%-include('partials/header.ejs')%>

<%-include('partials/nav.ejs')%>
<section>
    <center>
    <div id="formulario">
        <form id="formularioCotizacion" action="/cotizacion" method="post">
            <label for="">Valor de Automovil</label>
            <input type="number" name="valor" id="valor" required value=<%=valor%>> <br>
            <label for="">Porcentaje de pago inicial</label>
            <input type="number" name="pinicial" id="pinicial" required value=<%=pinicial%>> <br>
            <label for="">Plazos</label>
            <select name="plazos" id="plazos" value="<%=plazos%>">
                <option value="12">12 Meses</option>
                <option value="24">24 Meses</option>
                <option value="36">36 Meses</option>
                <option value="48">48 Meses</option>
                <option value="60">60 Meses</option>
            </select> <br>
            <button class="btn btn-primary mt-3" type="submit">Calcular</button>
            <a class="btn btn-primary mt-3" href="/cotizacion" id="limpiar">Limpiar</a>

        </form>
        <%
            if(valor == null){
                valor=0;
                pinicial=0;
                plazos=0;
            }

            let pagoInicial = valor * pinicial/100;
            let total = valor - pagoInicial;
            let pagoMensual = total / plazos;



            %>
            <h2>Cotizacion</h2>
                <h4>Pago Inicial: $<%=pagoInicial%></h4>
                <h4>Total a pagar: $<%=total%></h4>
                <h4>Plazos mensuales: $<%=pagoMensual%> </h4>
            <%
        %>

    </div>
</center>
</section>

<style>
    /*Estilo para botones e inputs */

    input{
        margin: 10px;
        border-radius: 20px;
    }
</style>

<%-include('partials/footer.ejs')%>
</body>
</html>