<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=titulo%></title>
</head>
<body>
    <%-include('partials/header.ejs')%>

    <%-include('partials/nav.ejs')%>
    
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Quasi vero explicabo quia. Itaque quod vel id rem eaque aut corporis doloribus laborum, 
        deleniti voluptatum possimus magni est provident maiores? 
        Eveniet! Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad et, totam autem, 
        suscipit illo cum mollitia aspernatur, aliquid labore corrupti accusantium quod consequatur? 
        Exercitationem molestiae eos quos natus? Nostrum, veniam!
    </p>

    <%-include('partials/footer.ejs')%>
</body>
</html>