
    <%-include('partials/header.ejs')%>

    <%-include('partials/nav.ejs')%>

    <form action="/tabla" method="post">
        <label for="Tabla">Tabla</label>
        <input type="number" id="numero" name="numero" required value= "<%=numero%>">
        <button class="btn btn-primary mt-3" type="submit">Enviar</button>
        <a class="btn btn-primary mt-3" href="/tabla" id="limpiar">Limpiar</a>



    </form>
    <section>
        <%
        
        let res =0;
            if(numero!=null){

                for(con=1 ; con<=10 ; ++con){
                    
                    res = con* numero;
                    %>
                    <h3><%=numero%> * <%=con%> = <%=res%> </h3>
                    <%
                }

            }
        
        %>

        
    </section>
    <%-include('partials/footer.ejs')%>